@import url('https://fonts.googleapis.com/css?family=Exo:400,400i');
body{ background: url(images/banner_bg.jpg) no-repeat top left #FFFFFF; font-family: 'Exo', sans-serif; background-size: 140%; background-position-y: 25px; }
a{ color: #878888; }
a:hover{ color: #39C0D6; }
a:active{ color: #024751; }
p{ color: #878888; }
.btn-sft{ background-color: #39C0D6; color: #FFFFFF; border: none; border-radius: 0;}
.btn-sft:hover{ background-color: #78f3ff; color: #FFFFFF; }
.btn-sft:active{ background-color: #008fa5; color: #FFFFFF; }

h2{ font-size: 25pt; }
h3{ font-size: 25pt; font-style: italic; }
p{ font-size: 15pt; }

header{ height: 80px; display: flex; flex-wrap: wrap; align-items: flex-end; justify-content: flex-end; }
header .logo{ margin-left: 30px; }
header .logo a{ background: url(images/logo.png) no-repeat center center; height: 45px; width: 185px; display: block; background-size: cover;}
header .logo a h1{ display: none; }
/*temp*/ ul{ display: none;}

section .banner{ width: 100%; background: url(images/banner_pessoa.png) no-repeat 185% 0; background-size: 68%; padding-bottom: 10px; }
section .banner h2{ font-size: 15pt; border-bottom: 2px solid #39C0D6; padding: 120px 10px 20px 15px; width: 60%; }
section .content{ padding: 0 15px; }
section .content h3{ font-size: 15pt; text-align: center; color: #39C0D6; margin: 20px 0; }
section .content a.btn{ width: 80%; display: block; margin: 0 auto; text-transform: uppercase; font-weight: bold; margin-bottom: 30px; }
section .content p{ margin: 0;  }
section .content p.destaque{ margin: 20px 0; text-decoration: underline; text-underline-position: above; -webkit-text-underline-position: under; -ms-text-underline-position: below; }



